body {
  background-color: #FFF7EF;
  margin-left: 40px;
}

.navbar {
  background-color: #99D8D5;
}

@font-face {
  font-family: 'Lemon Milk';
  src: url('fonts/LEMONMILK-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Lemon Milk', sans-serif;
}

@font-face {
  font-family: 'Kannada MN';
  src: local('Kannada MN'), url('fonts/Kannada MN.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Kannada MN', sans-serif;
}

.repository-link {
  position: absolute; 
  top: 70px; 
  right: 20px; 
  background-color: #FFF7EF;
  color: #102828;
  padding: 10px;
  text-align: right;
  margin: 10px;
  z-index: 0; 
}

.fa-github {
height: 70px;
width: 70px;
}
