<html>

<head>
  <title>website HTML file</title>
  <style>
    @font-face {
      font-family: 'Kannada MN';
      src: url('fonts/KannadaMN.ttc') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    .navbar-title {
      font-family: 'Kannada MN', sans-serif;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
  </style>
</head>


<body>

  <div class="navbar">
    <div class="navbar-title">
      Annette Loke
    </div>
  </div>



</body>
</html>
