<html>

<head>
<title>website HTML file</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
<style>
    /* Set the font-family to Lato for the navbar title */
    .navbar-title {
      font-family: 'Lato', sans-serif;
    }
</head>

<body>
 <h1>Hello, Quarto!</h1>
  <p>This is an R HTML page in Quarto.</p>
  <div class="navbar">
    <div class="navbar-title">
      Annette Loke
    </div>
  </div>


</body>
</html>
